<!-- <persian-slides></persian-slides> -->
<div class="centered">
    <h1>Slideshow</h1>

    <p>What does this phrase say?</p>


    <div>
        <div class="words" *ngFor="let word of phrase.sentence.split(' ').reverse()">
            <button class="ui button green">{{word}}</button>
        </div>
        <div class="ui divider hidden"></div>
    </div>

    <p>{{showTranslation ? phrase.translation : ""}}</p>
    
    <button class="ui button red" (click)="toggleTranslation()">See Translation</button>
    <div class="ui divider"></div>

    <button class="ui button" (click)="play()">Replay</button>
    <button class="ui button" (click)="shiftPhrases()">Next</button>

</div>
